<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>See and Say</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
       <form>
        <table style="width:50%" align="center">
            {% for item in collection %}
            <tr>
              <td><button value = "firstname" name = "animal_selection">Firstname</button></th>
              <td><button value = "firstname" name = "animal_selection">Firstname</button></th>
              <td><button value = "firstname" name = "animal_selection">Firstname</button></th>
            </tr>
           
          </table>
        </form>
    </body>

</html>