<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='style.css') }}"rel="stylesheet" type="text/css" />
</head>

    <body>
       <form method = "POST">
        <table style="width:50%" align="center">
            {% for index in range(animals_list|length) %}
            {% if index%3==0 %}
            <tr>
              {% for num in range(3) %}
              <td valign = "bottom"><section style = "text-align: center;"><img src ="{{ url_for('static', filename=images[index+num])}}"  alt= '{{images[index+num]}}'><br><button value = "{{animals_list[index +num]}}" name = "animal_selection" >{{animals_list[index +num]}}</button></section></td>
              {% endfor %}
            </tr>
            {% endif %}
         
            {% endfor %}
          </table>
          <h2>{{display_noise}}</h2>

    </body>

</html>